django-extensions==2.1.6
certifi==2019.3.9
chardet==3.0.4
dataclasses==0.6
defusedxml==0.5.0
Django==2.2.22
django-allauth==0.39.1
djongo==1.2.31
dnspython==1.16.0
dnspython3==1.15.0
idna==2.8
oauthlib==3.0.1
psutil==5.6.1
pymongo==3.5.1
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
scout-apm==2.0.2
sqlparse==0.2.4
urllib3==1.24.1