header, main, footer {
    padding-left: 300px;
}

html, body {
    height: 100%;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#viz-app-branding {
    padding-left: 10px;
}

.data {
    font-style: italic;
    font-weight: bold;
    color: #5173ff;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.keys {
    padding-left: 10px;
}

.pin-top {
    position: relative;
    z-index: 10;
}

.pin-bottom {
    position: relative;
    z-index: 10;
}

.pinned {
    width: 100%;
    position: fixed !important;
    z-index: 10;
}

.anim {
    height: 100vh;
}
nav .brand-logo {
    font-size: 1.8rem !important;
}