header, main, footer, .pushpin {
    padding-left: 300px;
}

html, body {
    height: 100%;
}

@media only screen and (max-width: 992px) {
    header, main, footer, .pushpin {
        padding-left: 0;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#viz-app-branding {
    padding-left: 10px;
}

.data {
    font-style: italic;
    font-weight: bold;
    color: #5173ff;
}

.pin-bottom {
    position: relative;
}

.pushpin {
    width: 100%;
    padding-bottom: 5px;
}

#animationSpeed {
    direction: rtl
}
