<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
          media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>404 Algorthim</title>
</head>
<body>
<div class="container">
    <dvi class="valign-wrapper">
        <h1>Algorithm not currently supported</h1>
    </dvi>
</div>
</body>
</html>