{% extends 'base.html' %}
{% load static %}
{# Remove Nav bar for this page #}
{#{% block fixed_nav_bar_css %}#}
{#{% endblock %}#}
{##}
{#{% block fixed_nav_bar_html %}#}
{#{% endblock %}#}
{#<script src=https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.4.0/cytoscape.min.js></script>#}

{% block js %}
    <script src=https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js
            xmlns="http://www.w3.org/1999/html"></script>
    <script>
        var algo = JSON.parse('{{ jsonAlgo|safe|escapejs }}');
    </script>
    <script src="{% static 'js/ClientAnimation.js' %}"></script>
    <script src="{% static 'js/Utils.js' %}"></script>

{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"/>
    <style type="text/css">
        #dijkstraNodes {
            width: 100%;
            height: 530px;
            border: 0px solid lightgray;
        }

        .full {
            min-height: 100vh;
        }
    </style>

{% endblock %}
{% block content %}
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Distance</h4>
            <div class="input-field col s6">
                <input placeholder="Distance" id="dist" type="text" class="validate">
                <label for="dist">Distance of the edge</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Save</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>

    <div class="row" style=" margin-bottom: 0">
        <div class="col s12 m5 l5">
            <!-- Pesudo Code injected by JS -->
            <pre>
<code id="generatedCode">
</code>
            </pre>
            <label>
                <input type="checkbox" checked="checked" class="overflowCheck" onclick="toggleOverflow()"/>
                <span>Allow Overflow</span>
            </label>
        </div>
        <div class=" col s12 m7 l7">
            <div id="dijkstraNodes"></div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m7 l6">
            <h4>Explanation </h4>
            <p id="exp">
                This Line is doing something
            </p>
        </div>

        <div class="col s12 m5 l5">
            <h4>Current Values</h4>
            <p>a table probably</p>

        </div>
    </div>
{% endblock %}

{% block footer %}


    <div class="pushpin row {{ primaryColour }}" onresize="pushPinInit()">
        <div class="container valign-wrapper">

            <div class="col l5">
                <label id="animationSpeedLabel" class="black-text" for="animationSpeed">Animation Speed = 1000ms</label>
                <p class="range-field">
                    <input type="range" class="animation-controls" id="animationSpeed" min="100" max="3000" value="1000"
                           onchange="updateAnimationTime(this.value)" oninput="updateAnimationTime(this.value)"/>
                </p>
            </div>
            <div class="col l6 center ">
                <a class="animation-controls waves-effect waves-light btn-small {{ secondaryColour }}"
                   onclick="previousFrame()">
                    <i class="small material-icons"> navigate_before</i></a>

                <a class="animation-controls waves-effect waves-light btn-small {{ secondaryColour }}"
                   onclick="playAnimation()"
                   id="play-btn"> <i class="small material-icons">play_arrow</i></a>

                <a class="animation-controls waves-effect waves-light btn-small {{ secondaryColour }} hidden"
                   onclick="pauseAnimation()"
                   id="pause-btn"><i class="small material-icons">pause</i></a>

                <a class="animation-controls waves-effect waves-light btn-small {{ secondaryColour }}"
                   onclick="nextFrame()">
                    <i class="small material-icons">navigate_next</i></a>

                <a class="animation-controls waves-effect waves-light btn-small {{ secondaryColour }}"
                   onclick="resetLines()">
                    <i class="small material-icons">replay</i></a>
                <div id="animation-msg">Select a source node to start an animation</div>
            </div>

        </div>
    </div>
{% endblock %}
