<li>
    <div class="user-view">
        <div class="background">
            <img src="https://picsum.photos/301/201">
        </div>
        {% if userName %}
            <a href="#user"><img class="circle" src="https://picsum.photos/100"></a>
            <a href="#name"><span class="white-text name">{{ user }}</span></a>
            {% if email %}
                <a href="#email"><span class="white-text email">{{ email }}</span></a>
            {% endif %}
        {% else %}
            <a href="#user"><img class="circle" src="https://picsum.photos/100"></a>
            <a href="#name"><span class="white-text name">Anon</span></a>
            <a href="#email"><span class="white-text email"></span></a>
        {% endif %}
    </div>
</li>

<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/tutorial">Tutorial</a></li>

<li>
    <div class="divider"></div>
</li>
<li><a class="subheader">All Pairs Shortest Path</a></li>
<li><a class="waves-effect" href="/algorithm/floyd">Floyd Warshall</a></li>
<li>
    <div class="divider"></div>
</li>
<li><a class="subheader">From source</a></li>
<li><a class="waves-effect" href="/algorithm/dijkstra">Dijkstra</a></li>
<li><a class="waves-effect" href="/algorithm/ford">Bellman Ford</a></li>




