{% extends "base.html" %}
{% load static %}

{% block js %}
    <script src=https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js
            xmlns="http://www.w3.org/1999/html">
    </script>
    <script src=https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js
            xmlns="http://www.w3.org/1999/html">
    </script>
    <script>
        Chart.defaults.global.animation.duration = 2000;
        Chart.defaults.global.legend.position = 'bottom';
        var DATA = null;

        function initGraph(dataset) {
            var NODE_COLOUR = "#64b5f6";
            var NODE_SELECTED_COLOUR = "#f44336";
            var NODE_SHAPE = "circle";

            var EDGE_COLOUR = "#2196f3";
            var EDGE_TYPE = "arrow";

            // create a network
            var container = document.getElementById('network');
            // http://visjs.org/docs/network/#options
            var options = {
                physics: {
                    enabled: true
                },
                height: '100%',
                width: '100%',
                nodes: {
                    shape: NODE_SHAPE,
                    color: NODE_COLOUR

                },
                edges: {
                    arrows: {
                        to: {enabled: true, scaleFactor: 1, type: EDGE_TYPE},
                        middle: {enabled: false, scaleFactor: 1, type: EDGE_TYPE},
                        from: {enabled: false, scaleFactor: 1, type: EDGE_TYPE}
                    },
                    color: {
                        color: EDGE_COLOUR,
                        inherit: false,
                        opacity: 0.8
                    }
                },
                interaction: {hover: true, dragView: false, zoomView: false},
            };
            dataset.nodes.update({id: {{sourceNode}}, color: NODE_SELECTED_COLOUR});
            network = new vis.Network(container, dataset, options);
        }

        function graphDraw() {
            if (DATA === null) {
                $.ajax({
                    url: "/api/graph/{{ quizID }}",
                    type: "get", //send it through get method
                    success: function (response) {
                        data = {
                            nodes: new vis.DataSet(response.nodes),
                            edges: new vis.DataSet(response.edges)
                        };
                        nodes = data.nodes;
                        edges = data.edges;
                        DATA = data;
                        initGraph(data);
                    },
                    error: function (xhr) {
                        alert("Cant get graph")
                    }
                });
            } else {
                initGraph(DATA);
            }
        }

        function drawChart() {
            //Destroy the dougnut chart here, not sure how it's accessible, but it won't work through window.onload
            var data = {
                labels: ['Right Answers', 'Wrong Answers'],
                datasets: [{
                    label: '# of Votes',
                    data: [{{ right }}, {{ wrong }}],
                    backgroundColor: [
                        '#69f0ae',
                        '#ff1744',
                    ],
                    borderWidth: 1
                }]
            };
            var ctx = document.getElementById("myChart").getContext("2d");
            new Chart(ctx, {
                type: 'doughnut',
                data: data,
            });
        }

        $(window).on('load', function () {
            drawChart();
            setTimeout(function () {
                graphDraw();
            }, 1000); //Delay for 1sec or it does not load properly on mobile, no idea why
        });

    </script>

{% endblock %}


{% block css %}
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"/>
    <style type="text/css">
        html, body, .block {
            height: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="tabpushpin">
            <div class="row">
                <ul class="tabs hide-on-med-and-up">
                    <li class="tab col s4"><a class="active" href="#total">Graph</a></li>
                    <li class="tab col s4"><a href="#stats">Stats</a></li>
                    <li class="tab col s4"><a href="#lastQuiz">Last Quiz</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="center header hide-on-med-and-down">Summary</h1>
        <div class="row">
            <div id="total" class="show-on-medium-and-up col l6 m6 s12">
                <div class="row">
                    <div class="col s12">
                        <h4 class="center">All Time Score</h4>
                    </div>
                    <div class="col s12">
                        <canvas id="myChart" width="200" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div id="stats" class="show-on-medium-and-up col l6 m6 s12">
                <h4 class="center">All time Stats</h4>
                <table>
                    <thead>
                    <tr>
                        <th>Stats</th>
                        <th>Value</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for i in stats %}
                        {% for key,val in i.items %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ val }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="row show-on-medium-and-up" id="lastQuiz">
        <div class="col s12 header">
            <h5 class="center"> Recent Quiz Question and Answers</h5>

        </div>
        <div class="col m6 s12">
            {% if quiz is not None and quiz|length > 0 %}
                {% for i in quiz %}
                    <div class="input-field col s12">
                        <p>{{ preface|safe }}</p>
                        <p>{{ forloop.counter }}) {{ i.question.qs }}</p>
                        {% for choice in i.question.choices %}
                            <p class="{% if choice in i.question.answers %} green lighten-4 {% elif choice in i.attemptedAns and choice not in i.question.answers %}red lighten-4{% endif %}">
                                <label>
                                    <input value="{{ choice }}" name="{{ i.question.id }}"
                                           type="{{ i.question.isMultipleChoice|yesno:"checkbox,radio" }}"
                                           onclick="this.checked = false;"
                                            {% if choice in i.attemptedAns %}
                                           checked
                                            {% endif %}
                                    />
                                    <span class="black-text">{{ choice }}</span>
                                </label>
                            </p>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <p>No Quiz Completed</p>
            {% endif %}
        </div>
        <div class="col m6 s12">
            <div class="container">
                <div class="show-on-small-only">
                    <p><b>Note: Use the white space to scroll up & down</b></p>
                </div>
                <div id="network"></div>
                <diV class="center"><a href="/algorithm/dijkstra/?graphId={{ quizID }}"> See tutorial for this graph</a></diV>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}